{% extends "FOSUserBundle::layout.html.twig" %}

{% set active_page = 'register' %}

{% block title %}
	Registratie voltooid!
{% endblock %}

{% block fos_user_content %}
<div class="containerCenter">
	<div class="row-fluid">
		<div class="span6 offset3">
			<h1>Registratie voltooid</h1>
			<h3>Uw MatchTracker account is aangemaakt !</h3>
			<br />
		    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>
		    {% if app.session is not empty %}
		        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
		        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>{% endif %}
		    {% endif %}

			<a href="{{ path('dashboard') }}" class="span4 alignMiddle button-green-mid">Ga naar Dashboard</a>
			<br>
			<br>
		</div>
	</div>
</div>

{% endblock fos_user_content %}
