{% extends 'MatchTrackerBundle::layout.html.twig' %}

{% set active_page = "home" %}

{% block title %}
	Dashboard
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Dashboard</h1>
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<p>Succesvol ingelogd!</p>
		{% endif %}

	</div>
{% endblock %}