{% extends 'MatchTrackerAppBundle::layout.html.twig' %}

{% set active_page = 'matchcenter' %}

{% block title %}
	MatchCenter
{% endblock %}

{% block body %}
	<div class="container">
		<nav id="breadcrumbs">U bevindt zich hier: {{ xi_breadcrumbs() }}</nav>
		<h1>MatchCenter</h1>


       
	</div>
{% endblock %}

