<div class="containerCenter">
	<div class="row-fluid">
		<div class="span6 offset3">
			<h1>Registreren</h1>
			<h3>Maak een account aan en ga van start met MatchTracker !</h3>

			<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register span8 offset2 centeredForm">
				{{ form_widget(form) }}
				<p class="formSmallTxt"><br >Door op “registreren” te klikken gaat u akkoord met onze <a href="">algemene voorwaarden</a>.</p>
				<p class="clearfix">
					<input type="submit" class="button-green-mid alignRight" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
				</p>

				<p class="formEndTxt">
					Heeft u nog geen account? <a href="#">Registreer dan hier</a>
				</p>
			</form>


		</div>
	</div>
</div>
