{% extends "FOSUserBundle::layout.html.twig" %}

{% set active_page = "profile" %}

{% block title %}
	Profiel bewerken
{% endblock %}

<h1>Profiel</h1>

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content %}