{% extends 'MatchTrackerBundle::layout.html.twig' %}

{% set active_page = "competition" %}

{% block title %}
Home
{% endblock %}

{% block body %}
 <h1>{{ name }}</h1>
 <p>Detail pagina</p>
      
{% endblock %}
