{% extends 'MatchTrackerBundle::layout.html.twig' %}

{% set active_page = 'competition' %}

{% block title %}
{{ league.name }}
{% endblock %}

{% block body %}
 <h1>{{ league.name }}</h1>
 <p>Gemaakt door: {{ league.user.name }}</p>
 <p>Detail pagina</p>
      
{% endblock %}
