{% extends 'MatchTrackerBundle::layout.html.twig' %}

{% set active_page = "home" %}

{% block title %}
    Registreer
{% endblock %}

{% block body %}
    <div class="container" xmlns="http://www.w3.org/1999/html">

        <h1>Registreer</h1>

        <form novalidate action="{{ path('match_tracker_authentication_register_check') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <input type="submit" />
        </form>
    </div>
{% endblock %}
