{% extends 'MatchTrackerBundle::layout.html.twig' %}

{% set active_page = "home" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <div class="hero-unit">

        <h1>Hello, Register!</h1>

    </div>
{% endblock %}
