{% extends 'MatchTrackerBundle::layout.html.twig' %}

{% set active_page = 'register' %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <div class="container" xmlns="http://www.w3.org/1999/html">

        <h1>Register account</h1>

        <form novalidate action="{{ path('authentication_register') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <input type="submit" />
        </form>
    </div>
{% endblock %}
