{% extends 'MatchTrackerBundle::layout.html.twig' %}

{% set active_page = "home" %}

{% block title %}
    Registreer
{% endblock %}

{% block body %}
    <div class="container" xmlns="http://www.w3.org/1999/html">

        <h3>U hebt succesvol een account gemaakt</h3>
        <a href="{{ path('match_tracker_authentication_login') }}">log in</a>
    </div>

{% endblock %}