/*
 * MatchTracker Stylesheet
 * http://www.matchtracker.be
 *
 */
 
/* Google Fonts
================================================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);


/* General styles
================================================== */
html {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizelegibility;
}

h1,h2,h3,h4,h5 {
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

a, input[type="submit"] {
	text-decoration: none !important;
	-webkit-transition: background 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
	-moz-transition: background 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
	-ms-transition: background 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
	-o-transition: background 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
	transition: background 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
	color: #447FAA;
	cursor: pointer;
}

.button-green-small {
	background-color: #86C400;
	-moz-border-radius:14%;
	-webkit-border-radius:13%/52%;
	border-radius:13%/52%;
	color: #FFF !important;
	padding: 0 10px !important;
	text-align: center;
	line-height: 24px;
	text-shadow: 0px 1px 0px #487905;
}

.button-green-mid {
	background: #87c42a;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	width: 150px;
	height: 40px;
	line-height: 40px;
	padding: 0 10px; 
	text-align: center; 
	border: 1px solid #74ad00;
	text-shadow: 0px 1px #62931D;
	color: #FFF !important;
	font-weight: 400 !important;
	font-family: 'Helvetica Neue', Arial, sans-serif !important;
	font-size: 14px;
}

.button-green-large {
	background: #87c42a;
	border: 1px solid #74ad00;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	color: #FFF !important;
	padding: 0 0px !important;
	line-height: 58px;
	display: block;
	height: 58px;
	width: 270px;
	text-shadow: 0px 1px #62931D;
	text-align: center;
	font-size: 20px;
}
.button-green-small:hover, .button-green-mid:hover, .button-green-large:hover { 
	background-color: #5ab303 !important;
	text-decoration: none;
}

::selection {
	background: #fefac7;
	color: #555555;
}
::-moz-selection {
	background: #fefac7; 
	color: #555555;
}

/* Icon */
i {
	font-style: normal !important;
}

.alignLeft {
	float: left !important;
}

.alignRight {
	float: right !important;
}

.alignMiddle {
	margin: 0 auto;
	display: inline-block !important;
	float: none !important;
}


/* Navigation bar
================================================== */
div.navbar {
	position: static; 
	height: 64px;
	background-color: #2f353e;
}

div.navbar h2 {
	height: 40px;
	font-size: 25px;
	float: left; 
	margin: 12px 0;
	color: #FFF;
}

div.navbar h2 a { 
	color: #FFF; 
	display: block;
	background: url(../img/logo.png) no-repeat 0 0;
	width: 198px;
	height: 40px;
	font: 0/0 a;
	text-shadow: none;
	color: transparant;
	text-indent: -9999px;
}
div.navbar h2 a:hover { text-decoration: none; }

/* Menu */
nav#mainNavigation {
	float: right; 
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	margin: 0;
}

nav#mainNavigation ul.nav {
	margin: 19.5px 0; 
}

nav#mainNavigation ul.nav li a {
	text-shadow: none;
	color: #8E959C;
	font-weight: 600;
	padding: 0 16px;
	line-height: 24px;
}
nav#mainNavigation ul.nav li a:hover { color: #FFF; }

nav#mainNavigation ul.nav li.active a {
	background-color: inherit;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #FFF;
}


/* Headline
================================================== */
h1 {
	font-size:38px;
	font-weight: 200;
	line-height: 120%;
	color:rgb(45,51,62);
	text-shadow:0px 0px 1px rgba(17,17,17,0.2);
}

div#headline p.subHeadline {
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	color: #a6b6ba;
	font-weight: 200;
	font-size: 20px;
	line-height: 150%;
	text-shadow: 0 0 1px rgba(17,17,17,.2);	
}

div#headline .buttonHeadline {
	margin: 60px 0;
}


/* Hero
================================================== */
div.hero-unit {
	background: url(../img/hero_bg.jpg) repeat repeat;
	height: 300px;
	margin: 10px 0 50px 0;
}
div.hero-unit .container { position: relative; }
div.macbook {
	background: url(../img/macbookair.png) no-repeat 0 0;
	background-size: auto 100%;
	height: 470px;
	width: 887px;
	display: block;
	position: absolute;
	top: -90px;
	right: -122px;
}

/* Features */
ul.features {
	margin: 10px 0 0 0;
	list-style: none;
}
ul.features li a {
	height: 86px;
	display: block;
	border: 1px solid transparent;
	padding-left: 100px;
	color: #2C333E !important;
	width: auto;
	z-index: 8888;
	-webkit-transition: background 0.2s ease;
	-moz-transition: background 0.2s ease;
	-ms-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	transition: background 0.2s ease;
}
ul.features li a:hover {
	background-color: rgba(47,53,63,.2) !important;
	border: 1px solid rgba(47,53,64,.25);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.05);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.05);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.05);
}

/* Icons */
ul.features li a.featuresIcons { background:url(../img/features.png) top left no-repeat; }
.icon-match { background-position:-10px -0px !important; }
.icon-track { background-position:-10px -80px !important; }
.icon-share { background-position:-10px -155px !important; }

ul.features li h4 {
	font-size: 14px;
	font-weight: 700;
}
ul.features li p {
	font-size: 14px;
	line-height: 150%;
}



/* Login & Registration
================================================== */
.containerCenter { text-align: center; }
.containerCenter h1 { margin: 20px 0 0 0; }
.containerCenter h3 {
	color: #a5b6b8;
	font-size: 20px;
	line-height: 150%;
	font-weight: 400;
	margin-bottom: 20px;
}

.buttonTwitter, .buttonFacebook {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	height: 42px;
	width: 132px;
	display: inline-block;
	font-size: 14px;
	color: #fff;
	line-height: 42px;
	padding: 0 10px; 
	margin: 10px 5px;
	cursor: pointer;
}
.buttonTwitter i, .buttonFacebook i {
	font-family: 'entypo-social' !important;
	font-size: 300%;
	vertical-align: -10%;
}

.buttonTwitter {
	background: #13abe6;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzIyOSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMWRjNWZmIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjMTNhYmU2IiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzIyOSkiIC8+PC9zdmc+);
	background: -moz-linear-gradient(52% 0% -90deg, #1dc5ff 0%, #13abe6 100%);
	background: -o-linear-gradient(-90deg, #1dc5ff 0%, #13abe6 100%);
	background: -webkit-gradient(linear, 52% 0%, 52% 100%, color-stop(0, #1dc5ff), color-stop(1, #13abe6));
	background: -webkit-linear-gradient(-90deg, #1dc5ff 0%, #13abe6 100%);
	background: linear-gradient(180deg, #1dc5ff 0%, #13abe6 100%);
	border: 1px solid #0d8ebe;
	text-shadow: 0 0 1px rgba(0,0,0,.3);
}
.buttonTwitter:hover { 
	box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1),1px 1px 12px 0px #249BCE;
	color: #FFF !important;
}

.buttonFacebook {
	background: #4d70c0;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzIyOSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjNjc5MGVlIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjNGQ3MGMwIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzIyOSkiIC8+PC9zdmc+);
	background: -moz-linear-gradient(52% 0% -90deg, #6790ee 0%, #4d70c0 100%);
	background: -o-linear-gradient(-90deg, #6790ee 0%, #4d70c0 100%);
	background: -webkit-gradient(linear, 52% 0%, 52% 100%, color-stop(0, #6790ee), color-stop(1, #4d70c0));
	background: -webkit-linear-gradient(-90deg, #6790ee 0%, #4d70c0 100%);
	background: linear-gradient(180deg, #6790ee 0%, #4d70c0 100%);
	border: 1px solid #415fa3;
	text-shadow: 0 0 1px rgba(0,0,0,.3);
}
.buttonFacebook:hover {
	box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1),1px 1px 12px 0px #5374BC;
	color: #FFF !important;
}



div.lineText { 
	background: url('../img/hr.gif') center repeat-x;
	margin: 20px 0;
}
div.lineText p { 
	background-color: #FFF;
	padding: 0 20px;
	display: inline;
	color: #667287;
	font-size: 13px;
}


/* Form styles Login & Register */
.formSmallTxt {
	font-size: 11px;
	margin-bottom: 0;
	margin-top: -15px;
	line-height: 16px;
}
.formEndTxt {
	font-size: 11px;
	margin-top: 30px;
}

.centeredForm {
	text-align: left;
	width: 340px !important;
}

.centeredForm label {
	color: #667287;
	font-size: 12px;
}

.largeInput {
	height: 32px !important;
	width: 326px !important;
}

input::-webkit-input-placeholder {
    color: #AAA;
	font-weight: 200;
}

input:-moz-placeholder {
	color: #AAA;
	font-weight: 200;
}

input:-ms-input-placeholder {
	color: #AAA;
	font-weight: 200;
}

.formBottom {
	margin-top: 35px;
	margin-bottom: 30px;
}

p.formBottom .checkbox {
	margin-top: 10px;
}

/* Override the default red border when focussing on a form */
input:focus:required:invalid:focus, textarea:focus:required:invalid:focus, select:focus:required:invalid:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */
	
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	
	color: #2C333E;
}

.modal {
	text-align: left !important;
}










/* Footer
================================================== */
/* Signupbar */
footer.signupbar {
	background: #2F353E url(../img/signupbar-bg.png) repeat;
	height: 48px;
	margin-top: 20px;
	color: #FFF;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
	padding: 50px;
}

footer.signupbar p { margin-bottom: 0; line-height: 150%; 1}

/* Actual footer */
footer#footer {
	background: #f1f1f1;
	background: -moz-linear-gradient(35% 0% -47deg, #f8f8f8 0%, #f8f8f8 49%, #f1f1f1 50%, #f1f1f1 100%);
	background: -o-linear-gradient(-47deg, #f8f8f8 0%, #f8f8f8 49%, #f1f1f1 50%, #f1f1f1 100%);
	background: -webkit-gradient(linear, 35% 0%, 57% 99%, color-stop(0, #f8f8f8), color-stop(0.49, #f8f8f8), color-stop(0.5, #f1f1f1), color-stop(1, #f1f1f1));
	background: -webkit-linear-gradient(-47deg, #f8f8f8 0%, #f8f8f8 49%, #f1f1f1 50%, #f1f1f1 100%);
	background: linear-gradient(137deg, #f8f8f8 0%, #f8f8f8 49%, #f1f1f1 50%, #f1f1f1 100%);
	padding-bottom: 50px;
}

#footer a.footerLogo{
	background: url(../img/logo_small.png) no-repeat 0 0;
	width: 36px;
	height: 36px;
	margin: 20px auto;
	display: block;
	-webkit-transition: background-position 0.2s linear;
	-moz-transition: background-position 0.2s linear;
	-o-transition: background-position 0.2s linear;
	transition: background-position 0.2s linear;
}
#footer a.footerLogo:hover {
	background-position: 0 -43px;
}

#footer .middle {
	margin-left: 15px !important;
	margin-right: 15px !important;
	text-align: center; 
}

#footer h1 {
	color: #999999;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	line-height: 20px;
	margin: 0;
}

#footer h2 {
	color: #2C333E;
	font-size: 22px;
	text-align: center;
	font-weight: 500;
	margin: 0 0 20px 0;
	line-height: 30px;
}

#footer p {
	color: #808080;
	font-size: 13px;
}
#footer ul { list-style: none; margin: 0; }










/* Low-resolution modifications
================================================== */
@media (max-width: 1200px) {
	div.hero-unit {
		height: 300px;
		padding: 30px;
	}
	div.macbook {
		width: 100%;
		height: 400px;
		top: -50px;
		right: -290px;
	}
	
	#footer .middle { margin: 10px 0 !important; }
}


/* Font-Face
================================================== */
@font-face {
    font-family: 'entypo';
    src: url('../fonts/entypo.eot');
    src: url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
         url('../fonts/entypo.woff') format('woff'),
         url('../fonts/entypo.ttf') format('truetype'),
         url('../fonts/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'entypo-social';
    src: url('../fonts/entypo-social.eot');
    src: url('../fonts/entypo-social.eot?#iefix') format('embedded-opentype'),
         url('../fonts/entypo-social.woff') format('woff'),
         url('../fonts/entypo-social.ttf') format('truetype'),
         url('../fonts/entypo-social.svg#entypo-social') format('svg');
    font-weight: normal;
    font-style: normal;
}
