{% extends 'MatchTrackerAppBundle::layout.html.twig' %}

{% set active_page = "dashboard" %}

{% block title %}
	Dashboard
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Dashboard</h1>

        <div class="row-fluid">
            <div class="span9">
                <div class="alert alert-block">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4>U heeft nog geen competities...</h4>
                    Maak een competitie aan en deel deze informatie met de spelers en fans! <a href="{{ path('competition_maker') }}">Maak een competitie aan</a>
                </div>
            </div>
            <div class="span3">
                <!--Sidebar-->
                <p><a class="btn btn-primary span12" href="{{ path('competition_maker') }}">Nieuwe competitie</a></p><br><br>
	            <p><a class="btn span12" href="{{ path('profile') }}">Je account wijzigen</a></p>
            </div>
        </div>

	</div>
{% endblock %}