{% extends 'MatchTrackerAppBundle::layout.html.twig' %}

{% set active_page = '' %}

{% block title %}
	Team
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Team</h1>

		<div class="row-fluid">
			<div class="span9">
				Test
			</div>
			<div class="span3">

			</div>
		</div>

	</div>
{% endblock %}