<li style="display: list-item;">
	<div class="input-prepend">
		<span class="add-on">
			<i class="icon-user"></i>
		</span>
		<input type="text" id="form_players_9_name" name="form[players][9][name]" required="required" placeholder="Naam">
	</div>
	<div class="input-prepend">
		<span class="add-on">
			<i class="icon-calendar-1"></i>
		</span>
		<input type="number" id="form_players_9_age" name="form[players][9][age]" required="required" placeholder="Leeftijd" class="input-mini">
	</div>
	<div class="input-prepend">
		<span class="add-on">
			<i class="icon">#</i>
		</span>
		<input type="number" id="form_players_9_number" name="form[players][9][number]" required="required" placeholder="RugNr." class="input-small">
	</div>
	<a href="#" class="delete-player-link icon-trash"></a>
</li>

<li>
	<div class="input-prepend">
		<span class="add-on">
			<i class="icon-user"></i>
		</span>
		<input type="text" id="form_players_2_name" name="form[players][2][name]" required="required" placeholder="Naam" value="Bert Beeckman">
	</div>

	<div class="input-prepend">
		<span class="add-on">
			<i class="icon-calendar-1"></i>
		</span>
		<input type="number" id="form_players_2_age" name="form[players][2][age]" required="required" placeholder="Leeftijd" class="input-mini" value="22">
	</div>

	<div class="input-prepend">
		<span class="add-on">
			<i class="icon">#</i>
		</span>
		<input type="number" id="form_players_2_number" name="form[players][2][number]" required="required" placeholder="RugNr." class="input-small">
	</div>
	<a href="#" class="delete-player-link icon-trash"></a>
</li>